<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <ol>
        {{range $.images}}
            <li>
                <a href="/view?id={{.|urlquery}}">{{.|html}}</a>
                <a onclick="del({{.|print}})">删除</a>
            </li>
        {{end}}
    </ol>

</body>

<script>

    function del(imgName) {
        if(imgName == "") {
            console.log("图片名称不能为空");
            return;
        }

        var data = {
            name: imgName
        };

        $.ajax({
            type: "post",
            // dataType: "json",
            url: "http://localhost:8090/del",
            // contentType: "application/x-www-form-urlencoded; charset=utf-8",
            data: JSON.stringify(data),
            success: (msg) => {
                console.log("success");
            }
        });
    }

</script>
</html>